@tailwind base;
@tailwind components;
@tailwind utilities;
.featured-img{
    background-image: url('./assets/home/featured.jpg');
    
    /* background: linear-gradient(0deg, rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.7)), url('./assets/home/featured.jpg'); */
}
#reload_href{
    font-weight: bold !important;
    text-decoration: underline;
}